/* About Section */
#about {
    padding: 60px 20px; /* Added padding */
    background-color: #1f1f1f; /* Dark background */
    color: #e0e0e0; /* Light text */
    animation: fadeIn 1.5s ease-in-out;
    margin-bottom: 40px; /* Added margin to separate sections */
  }
  
  .about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px; /* Added padding */
  }
  
  .about-container h2 {
    font-size: 2.5rem;
    color: #e0e0e0; /* Cyan accent color */
    margin-bottom: 20px;
    animation: slideInFromLeft 1s ease-in-out;
  }
  
  .about-container p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #e0e0e0; /* Light text */
    text-align: justify; /* Justified text */
    margin-bottom: 20px; /* Added margin between paragraphs */
  }
  
  /* Responsive Design for Smaller Devices */
  @media (max-width: 768px) {
    .about-container h2 {
      font-size: 2rem; /* Smaller font size for smaller devices */
      text-align: center; /* Center-align the heading */
    }
  
    .about-container p {
      font-size: 1rem; /* Smaller font size for smaller devices */
      text-align: justify; /* Justified text */
    }
  }
  
  /* Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideInFromLeft {
    from {
      transform: translateX(-50px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  