.contact {
  padding: 60px 20px;
  background-color: #212121;
  color: #14ffec;
  text-align: center;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.contact p {
  margin-bottom: 30px;
  font-size: 1.1rem;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #0d7377;
  border-radius: 5px;
  background-color: #323232;
  color: #fff;
  font-size: 1rem;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #bbb;
}

.contact-form textarea {
  resize: none;
}

.contact-form button {
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0d7377;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #14ffec;
  color: #000;
}

@media (max-width: 768px) {
  .contact {
    padding: 40px 15px;
  }

  .contact-form {
    width: 100%;
  }
}
